@tailwind base;
@tailwind utilities;
@tailwind components;


body{
    background-image: url('../assets/bg-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

/* My classes */

.blur-bg{
    backdrop-filter: blur(6px);
}